language: python
python:
    "2.7"

addons:
    apt:
        packages:
            - swig
            - libvomsapi1

virtualenv:
    system_site_packages: true

install:
    - pip install tox
    - pip install -r requirements.txt
    - pip install -r test-requirements.txt
    - pip install -e git+https://github.com/openstack/keystone@stable/liberty#egg=keystone

script:
    - tox
